.app {
  background: #3a3f50;
  width: 100vw;
  min-height: 100vh;
  color: #ffffff;

  .header {
    position: absolute;
    top: 16px;
    left: 16px;
    width: calc(100vw - 32px);
    display: flex;

    .nav {
      background: #ffeedd;
      border-radius: 32px;
      width: fit-content;

      ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        > * + * {
          margin-left: 16px;
        }

        > * {
          padding: 16px 16px;
          border-radius: 32px;
          cursor: pointer;
          color: black;
          min-width: 48px;
          text-align: center;

          &:hover {
            background: #e5d2c3;
          }

          &.active {
            font-weight: 500;
            background: #decbbd;
          }
        }
      }
    }

    .lng-and-account {
      color: black;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;

      .lng {
        background: #ffeedd;
        padding: 8px 16px;
        border-radius: 16px;
        cursor: pointer;

        &:hover {
          background: #e5d2c3;
        }
      }

      .account {
        margin-left: 16px;
        padding: 8px 16px;
        border-radius: 16px;
        background: #ffeedd;
        cursor: pointer;

        &:hover {
          background: #e5d2c3;
        }
      }
    }
  }

  .app-body {
    width: 100vw;
    padding: 98px 16px 16px 16px;
  }
}